:root {
    --cor-padrao-nav: rgba(55, 55, 55, 0.75);
    --cor-padrao-nav-hover: #373737;
    --cor-padrao-neutro: white;
    --cor-padrao-escuro: #000000;
    --cor-padrao-cinza-claro: #DDDDDD;
    --cor-padrao-cinza-claro-2: #EDEDED;
    --cor-box-shadow-padrao: rgba(0,0,0,0.2);
    --cor-aviso-perigo: #AD112F;
    --cor-padrao-background-input: #fcfcfc;
    --cor-padrao-sucesso: green;
    --cor-padrao-botao: #355C7D;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    font-size: 24px;
}
